.list-group-item{
	border-radius: 0;
	border: none;
}

.leftnavlist{
	list-style: none;
}

.posts{
	font-size: 11pt;
}

#textarea-post{
	resize: none;
}

#submitpost{
	margin-top: -15px;
	width: 70px;
}

hr{
	border-color: #dddddd;
}