.commentsCollapse{
	background-color: #e2e2e2;
	padding: 7px;
}

.commentsubmit{
	margin-top: -25px;
}

.commentDates{
	color: #4f4f4f;
}

.postactions{
	/*margin-left: 701px;*/
}

#profileDropdownLink:visited{
	background-color: yellow;
}

#profileDropdown{
	background-color: teal;
}

#linkLogout:active{
	color: red;
}
#linkLogout:hover{
	background-color: teal;
}

.list-group-item{
	border-radius: 0;
	border: none;
}

.leftnavlist{
	list-style: none;
}

.posts{
	font-size: 11pt;
}

.comments{
	font-size: 10pt;
}

#textarea-post{
	resize: none;
}

#submitpost{
	margin-top: -15px;
	width: 70px;
}

hr{
	border-color: #dddddd;
}

/* photo upload css*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 50%;
    height: 50%;
}
/* end*/

#profilePicture{
	
}

.checks{
	color: green;
}

.nochecks{
	color: red;
}