.commentsCollapse{
	background-color: #e2e2e2;
	padding: 7px;
}

.commentsubmit{
	margin-top: -25px;
}

.commentDates{
	color: #4f4f4f;
}

.postactions{
	/*margin-left: 701px;*/
}

.list-group-item{
	border-radius: 0;
	border: none;
}

.leftnavlist{
	list-style: none;
}

.posts{
	font-size: 11pt;
}

.comments{
	font-size: 10pt;
}

#textarea-post{
	resize: none;
}

#submitpost{
	margin-top: -15px;
	width: 70px;
}

hr{
	border-color: #dddddd;
}

